<div align="center">
<h1>In The Name Of GOD</h1>
</div>

# HW1 - Data Mining

## 1. Overfitting

### 1.1. Overfitting in Linear Regression

In [11]:
import pandas as pd

Read the data from the file `IMDB-Movie-Data.csv` and store it in a pandas DataFrame.

In [12]:
df = pd.read_csv("IMDB-Movie-Data.csv") 

df.head(10)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
5,6,The Great Wall,"Action,Adventure,Fantasy",European mercenaries searching for black powde...,Yimou Zhang,"Matt Damon, Tian Jing, Willem Dafoe, Andy Lau",2016,103,6.1,56036,45.13,42.0
6,7,La La Land,"Comedy,Drama,Music",A jazz pianist falls for an aspiring actress i...,Damien Chazelle,"Ryan Gosling, Emma Stone, Rosemarie DeWitt, J....",2016,128,8.3,258682,151.06,93.0
7,8,Mindhorn,Comedy,A has-been actor best known for playing the ti...,Sean Foley,"Essie Davis, Andrea Riseborough, Julian Barrat...",2016,89,6.4,2490,NaN,71.0
8,9,The Lost City of Z,"Action,Adventure,Biography","A true-life drama, centering on British explor...",James Gray,"Charlie Hunnam, Robert Pattinson, Sienna Mille...",2016,141,7.1,7188,8.01,78.0
9,10,Passengers,"Adventure,Drama,Romance",A spacecraft traveling to a distant colony pla...,Morten Tyldum,"Jennifer Lawrence, Chris Pratt, Michael Sheen,...",2016,116,7.0,192177,100.01,41.0

From the information of the DataFrame, we can see that the `Revenue (Millions)` and `Metascore` columns have missing values. We can fill the missing values with the mean of the column.

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Title               1000 non-null   object
 2   Genre               1000 non-null   object
 3   Description         1000 non-null   object
 4   Director            1000 non-null   object
 5   Actors              1000 non-null   object
 6   Year                1000 non-null   int64
 7   Runtime (Minutes)   1000 non-null   int64
 8   Rating              1000 non-null   float64
 9   Votes               1000 non-null   int64
 10  Revenue (Millions)  872 non-null    float64
 11  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 93.9+ KB

Finding rows with two or more missing values. We can see that there are 30 rows with two or more missing values.

In [14]:
target_rows = df[df.isnull().sum(axis=1) >= 2]

print(target_rows.shape)

(30, 12)

Drop the rows with two or more missing values.

In [15]:
df.drop(target_rows.index, inplace=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 970 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                970 non-null    int64
 1   Title               970 non-null    object
 2   Genre               970 non-null    object
 3   Description         970 non-null    object
 4   Director            970 non-null    object
 5   Actors              970 non-null    object
 6   Year                970 non-null    int64
 7   Runtime (Minutes)   970 non-null    int64
 8   Rating              970 non-null    float64
 9   Votes               970 non-null    int64
 10  Revenue (Millions)  872 non-null    float64
 11  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 98.5+ KB

Replacing the missing values of the `Revenue (Millions)` column with the mean of the column.

In [17]:
df['Revenue (Millions)'].fillna(df['Revenue (Millions)'].mean(), inplace=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 970 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                970 non-null    int64
 1   Title               970 non-null    object
 2   Genre               970 non-null    object
 3   Description         970 non-null    object
 4   Director            970 non-null    object
 5   Actors              970 non-null    object
 6   Year                970 non-null    int64
 7   Runtime (Minutes)   970 non-null    int64
 8   Rating              970 non-null    float64
 9   Votes               970 non-null    int64
 10  Revenue (Millions)  970 non-null    float64
 11  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 98.5+ KB